// Required
@import "../node_modules/bootstrap/scss/functions";

// Default variable overrides
$primary: #3a47d5;
$body-bg: #000000;
$body-color: #fff;
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
);
// Required
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

@import "bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.bg-gradient-primary {
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}
.gradient-text {
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

// NAVBAR
.navbar {
    .navbar-brand {
        img {
            height: 50px;
        }
    }
}

// HEADER

header {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .avatar-container {
        width: 200px;
        height: 200px;

        border-radius: 50%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    .icon-btn {
        transition: all 0.3s;

        &:hover {
            transform: translateY(-5px);
            color: #3a47d5;
        }
    }
}

// EXPERIENCE CARD
.tool-card {
    transition: all 0.3s;
    .card-header {
        .tool-icon {
            width: 50px;
            height: 50px;

            transition: all 0.3s;
        }
    }

    &:hover {
        transform: translateY(-5px);
        .card-header {
            background-color: darken($color: $primary, $amount: 20%);
        }
        .tool-icon {
            transform: scale(1.2);
        }
    }
}
